{% extends "blog/base.html" %}
{% block content %}
<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Post</legend>
            <h2>Are you sure you want to delete the post:</h2>
            <h4 class="mt-5" style="color: indigo;">{{ object.title }}</h4>
            <p>{{ object.content }}</p>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-danger" type="submit">Yes, Delete!</button>
            <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}