{% extends "blog/base.html" %}
{% block content %}
<h1>About This Project</h1>
<p style="font-size: 19px;">
    This app is a project for practice.<br>
    This app aims at creating, updating, deleting posts with users
</p>
<h2>Technical Details</h2>
<ol style="font-size: 19px;">
    <li>
        Languages:
        <ul>
            <li>Python</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>
    </li>
    <li>Framework: Django</li>
    <li>Database: SQLite</li>
    <li>
        Python Libraries:
        <ul>
            <li>Django</li>
        </ul>
    </li>
    <li>
        Features:
        <ul>
            <li>Posts Creation, Update, Delete</li>
            <li>Users Register and Login</li>
        </ul>
    </li>
</ol>
{% endblock content %}